* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background: #d8efd3;
}
.container {
  max-width: 800px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0px auto;
  background: #95d2b3;

  border-radius: 30px;
}
.container h1 {
  color: white;
  font-size: 46px;
  margin: 20px 0;
  text-shadow: 3.1px 3.2px 6.2px hsl(0deg 0% 0% / 0.4);
}
.Todo-Container {
  display: flex;
}
.Todo-Container input {
  width: 550px;
  height: 60px;
  color: white;
  background: none;
  border: 2px solid white;
  border-radius: 13px;
  padding: 0 15px;
  font-size: 20px;
  font-weight: bold;
  transition: ease 0.5s;
}
.Todo-Container input::placeholder {
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.Todo-Container input:focus {
  font-size: 20px;
  font-weight: bold;
  color: white;
  border: 2px solid rgb(255, 255, 255);
  background: #55ad9b;
}
.add-btn {
  width: 100px;
  color: white;
  height: 60px;
  background: none;
  border: 2px solid white;
  border-radius: 13px;
  padding: 0 15px;
  font-weight: bold;
  font-size: 20px;
  margin-left: 5px;
  cursor: pointer;
  transition: ease 0.5s;
}
.add-btn:hover,
input:hover {
  background: #55ad9b;
}
#todoParent {
  width: 95%;
  margin: 20px 0px;
}
#todoParent li {
  border: 3px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 60px;
  background: #55ad9b;
  border: 2px solid white;
  border-radius: 13px;
  padding: 0 15px;
  font-weight: bold;
  border-color: orange;
  font-size: 20px;
  margin: 10px 0px;
}
#todoParent li button {
  color: white;
  background: none;
  font-weight: 300;
  padding: 0 15px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
  text-shadow: 1.1px 1.2px 2.2px hsl(0deg 0% 0% / 0.47);
  border-radius: 25px;

  transition: ease 0.2s;
}
#todoParent li button:hover {
  font-size: 22px;
  text-shadow: 2px 3.1px 3.1px hsl(0deg 0% 0% / 0.42);
}
